@mixin generic-btn {
    cursor: pointer;
    padding: 4px 8px;
    background: none;
    border-radius: 5px;
    border: 1px solid;
    color: $dark;

    &:hover {
        color: $secondary;
    }
    &:active {
        transform: rotate(-2deg);
        box-shadow: 0 1px $dark;
    }
}
@mixin links {
    text-decoration: none;
    cursor: pointer;
    &:hover {
        margin-top: -2px;
    }
}
