@import "../../styles/main.module.scss";

h1 {
    color: $primary;
    text-shadow: 1px 1px $dark;
}

nav {
    ul {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        list-style: none;

        .links {
            @include links;
        }

        .logoutBtn {
            @include generic-btn;
            padding: 8px 12px;
            font-size: 14px;
        }
    }
}
