@import "../../styles/main.module.scss";

nav {
    h1 {
        color: $dark;
    }
    ul {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        list-style: none;

        .links {
            @include links;
        }

        .logoutBtn {
            @include generic-btn;
        }
    }
}
